In [3]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

#### Q1. Write a code to print the data present in the second row of the dataframe, df.

In [6]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

#### Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In [7]:
# In pandas, the functions loc and iloc are used to access and manipulate data within a DataFrame, but they differ in the way they handle indexing.

# loc: This function is primarily label-based, meaning it uses labels or names to access rows or columns in the DataFrame. It can accept boolean arrays as well. The syntax for using loc is df.loc[row_indexer, column_indexer].

# iloc: This function is primarily integer-based, meaning it uses integer-based indexing to access rows or columns in the DataFrame. It does not accept boolean arrays. The syntax for using iloc is df.iloc[row_indexer, column_indexer].

# To summarize the differences between the two:

# loc uses labels or names for indexing, while iloc uses integer-based indexing.
# loc can accept boolean arrays for filtering, while iloc cannot.
# With loc, the end index is inclusive, while with iloc, the end index is exclusive.
# Both loc and iloc can be used to access subsets of rows and columns in a DataFrame.

#### Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

In [9]:
reindex = [3,0,1,2]
new_df = df.reindex(reindex)
new_df
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [11]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [ ]:
# After reindexing, we can use new_df.loc[2] to access the row with label/index 2 and new_df.iloc[2] to access the row with integer index 2 in the new_df DataFrame.

# Please note that since the indexing has changed after reindexing, the output of new_df.loc[2] will correspond to the row with label/index 2 in the new DataFrame, while new_df.iloc[2] will correspond to the row with integer index 2 in the new DataFrame.

In [12]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

#### Q4. Write a code to find the following statistical measurements for the above dataframe df1:
#### (i) mean of each and every column present in the dataframe.
#### (ii) standard deviation of column, ‘column_2’

In [13]:
df1.mean()

column_1    0.506407
column_2    0.425934
column_3    0.309808
column_4    0.432101
column_5    0.415326
column_6    0.524650
dtype: float64

In [15]:
column2_std = df1['column_2'].std()
column2_std

0.2666721631075348

#### Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
#### mean of column, column_2. If you are getting errors in executing it then explain why.

In [16]:
import pandas as pd

# Assuming you have the DataFrame 'df1' and want to replace the data in the second row of 'column_2' with a string
new_value = 'replacement'

# Incorrect code: Replacing data with a string
df1.loc[1, 'column_2'] = new_value

# Trying to calculate the mean of 'column_2'
column2_mean = df1['column_2'].mean()
print("Mean of column 'column_2':", column2_mean)

TypeError: can only concatenate str (not "float") to str

# we will get an type error because two are different data types

#### Q6. What do you understand about the windows function in pandas and list the types of windowsfunctions?

In pandas, window functions are used for performing calculations over a specified window or a group of rows in a DataFrame or a Series. These functions provide a way to compute aggregated values based on a sliding or expanding window of data.

Window functions are typically used in conjunction with the rolling() or expanding() methods in pandas. Here's a brief explanation of each:

Rolling Window Functions:

Rolling window functions apply a specified function or operation to a defined window of data that moves or rolls over the data. The window size can be fixed or variable.
Examples of rolling window functions include mean(), sum(), min(), max(), std(), var(), cov(), corr(), etc.
Expanding Window Functions:

Expanding window functions compute the cumulative results over the entire range of the data, from the beginning up to the current position.
Examples of expanding window functions include cumsum(), cumprod(), cummin(), cummax(), cumcount(), etc.
Both rolling and expanding window functions can be applied using the rolling() and expanding() methods in pandas, respectively. These methods return a window or expanding object that allows you to apply various window functions to the data.

#### Q7. Write a code to print only the current month and year at the time of answering this question.[Hint: Use pandas.datetime function]

In [21]:
import pandas as pd

# Get the current date and time
current_datetime = pd.to_datetime('today')

# Extract the month and year from the current date and time
current_month = current_datetime.month
current_year = current_datetime.year

# Print the current month and year
print("Current Month:", current_month)
print("Current Year:", current_year)

Current Month: 5
Current Year: 2023

#### Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
#### calculates the difference between them in days, hours, and minutes using Pandas time delta. The
#### program should prompt the user to enter the dates and display the result.

In [23]:
import pandas as pd

# Prompt the user to enter the dates
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

# Convert the input strings to pandas' datetime format
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

# Calculate the time difference
time_diff = date2 - date1

# Extract the days, hours, and minutes from the time difference
days = time_diff.days
hours = time_diff.seconds // 3600
minutes = (time_diff.seconds % 3600) // 60

# Display the result
print("Time difference:")
print("Days:", days)
print("Hours:", hours)
print("Minutes:", minutes)

Enter the first date (YYYY-MM-DD): 2003-01-23
Enter the second date (YYYY-MM-DD): 2023-01-23
Time difference:
Days: 7305
Hours: 0
Minutes: 0

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd

# Prompt the user to enter the file path
file_path = input("Enter the CSV file path: ")

# Prompt the user to enter the column name
column_name = input("Enter the column name: ")

# Prompt the user to enter the category order
category_order = input("Enter the category order (comma-separated values): ").split(",")

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Convert the specified column to categorical data type
df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

# Sort the DataFrame based on the specified column
sorted_df = df.sort_values(by=column_name)

# Display the sorted data
print("Sorted Data:")
print(sorted_df)

#### Q10. Write a Python program that reads a CSV file containing sales data for different products and
#### visualizes the data using a stacked bar chart to show the sales of each product category over time. The
#### program should prompt the user to enter the file path and display the chart.

In [26]:
import pandas as pd
import matplotlib.pyplot as plt

# Prompt the user to enter the file path
file_path = input("Enter the CSV file path: ")

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Group the data by product category and calculate the sum of sales for each category
grouped_df = df.groupby('Product Category')['Sales'].sum()

# Get the unique product categories and sort them in descending order by sales
categories = grouped_df.index
sorted_categories = sorted(categories, key=lambda x: grouped_df[x], reverse=True)

# Create a stacked bar chart to visualize the sales of each product category over time
plt.bar(df['Year'], df['Sales'], color='lightblue', label='Other Categories')
bottom = df['Sales'].values.copy()

for category in sorted_categories:
    mask = df['Product Category'] == category
    plt.bar(df['Year'], df['Sales'], bottom=bottom, label=category)
    bottom += df.loc[mask, 'Sales'].values

# Set the x-axis label and title
plt.xlabel('Year')
plt.title('Sales by Product Category over Time')

# Rotate the x-axis tick labels for better readability
plt.xticks(rotation=45)

# Display a legend and show the chart
plt.legend()
plt.show()

Enter the CSV file path: placement_cla.csv

KeyError: 'Product Category'

In [ ]:
Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+

In [ ]:
import pandas as pd

# Prompt the user to enter the file path
file_path = input("Enter the file path of the CSV file containing the student data: ")

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Calculate the mean, median, and mode of the test scores
mean_score = df['Test Score'].mean()
median_score = df['Test Score'].median()
mode_scores = df['Test Score'].mode()

# Display the results in a table
result_table = pd.DataFrame({
    'Statistic': ['Mean', 'Median', 'Mode'],
    'Value': [mean_score, median_score, ', '.join(map(str, mode_scores))]
})
print(result_table)