#### hey guyz welcome to the new pandas series

#### new assignment on pandas basics

#### Q1.Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [9]:
import pandas as pd

# create the series
data = [4, 8, 15, 16, 23, 42]
s = pd.Series(data)

# print the series
print(s)
type(s)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

pandas.core.series.Series

#### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on thevariable print it.

In [10]:
import pandas as pd

# create the list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# convert to series
s = pd.Series(my_list)

# print the series
print(s)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

#### Q3. Create a Pandas DataFrame that contains the following data:

In [11]:
import pandas as pd

# create the data
data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'age': [25, 32, 18, 47],
    'country': ['USA', 'Canada', 'UK', 'USA']
}

# create the dataframe
df = pd.DataFrame(data)

# print the dataframe
print(df)

      name  age country
0    Alice   25     USA
1      Bob   32  Canada
2  Charlie   18      UK
3    David   47     USA

#### What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [12]:
import pandas as pd

# create a series
s = pd.Series([1, 2, 3, 4, 5])

# create a dataframe
df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 32, 18]
})

print(s)
print(df)

0    1
1    2
2    3
3    4
4    5
dtype: int64
      name  age
0    Alice   25
1      Bob   32
2  Charlie   18

#### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Canyou give an example of when you might use one of these functions?

In [14]:
# """ head() and tail(): to display the first or last few rows of the DataFrame
# info(): to display information about the DataFrame, such as data types and missing values
# describe(): to display summary statistics for the numerical columns in the DataFrame
# sort_values(): to sort the DataFrame by one or more columns
# groupby(): to group the DataFrame by one or more columns and apply an aggregation function, such as sum() or mean()"""

#### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

##### In pandas, both Series and DataFrame are mutable in nature.

#### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [15]:
import pandas as pd

# create some series
names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 32, 18])
countries = pd.Series(['USA', 'Canada', 'UK'])

# create the dataframe using the series
df = pd.DataFrame({
    'name': names,
    'age': ages,
    'country': countries
})

# print the dataframe
print(df)
# in this example, we first create three separate Series, one for each column of the DataFrame we want to create.
# Then, we use these Series to create the DataFrame by passing them as a dictionary to the pd.DataFrame() function. T
# the keys of the dictionary correspond to the column names, and the values correspond to the data in each column. 
# Finally, we print the resulting DataFrame.

      name  age country
0    Alice   25     USA
1      Bob   32  Canada
2  Charlie   18      UK